@model tbl_UserRegistration
@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<head>


    <link href="~/ApplyStyling/Style.css" rel="stylesheet" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>

<body>
    <div id="RegistrationFormLayout">

        <div class="row">

            <div class="col-md-6" id="registrationForm">

                @using (Html.BeginForm("Edit", "Home", FormMethod.Post))
                {

                    <h3>Registration Form</h3>

                    <form class="form-horizontal">

                        <div class="form-group">

                            @Html.HiddenFor(model => model.UserId);

                            <div class="col-md-12">
                                <div class="input-group">
                                    <span class="input-group-text"><i class="fa-solid fa-user-plus"></i></span>
                                    @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                                </div>

                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12">

                                <div class="input-group">
                                    <span class="input-group-text"><i class="fa-solid fa-envelope"></i></span>

                                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                </div>

                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="input-group">
                                    <span class="input-group-text"><i class="fa-solid fa-key"></i></span>


                                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                </div>

                            </div>
                        </div>


                        <div class="form-group">

                            @Html.LabelFor(model => model.Gender, htmlAttributes: new { @class = "control-label col-md-2" })

                            <div class="col-md-10">

                                <div class="form-check form-check-inline">
                                    @Html.RadioButtonFor(model => model.Gender, "Male", htmlAttributes: new { @name = "Gender" })Male
                                </div>
                                <div class="form-check form-check-inline">
                                    @Html.RadioButtonFor(model => model.Gender, "Female", htmlAttributes: new { @name = "Gender" })Female
                                </div>

                            </div>
                        </div>



                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Create" class="btn btn-primary" />
                            </div>
                        </div>

                    </form>
                }



            </div>

            <div class="col-md-6" id="registrationImage">

                <img src="~/Images/img1.jpg" alt="Alter Image" class="img-responsive" />


            </div>
        </div>

    </div>
</body>